
.navbar .navbar-nav .nav-item a{
   padding: 15px;
}
.navbar .navbar-nav .nav-btn{
   padding: 10px;
}
body{
   overflow-x: hidden;
}
/* .cart button{
    margin-left: 558px;
    height: 40px;
    border-radius: 5px;
    width: 150px;
}
.cart button a{
    color: black;
    text-decoration: none;
}
.made{
    text-align: center;
     margin-top:50px;
  }


  */
  .cartempty{
   border:none;
   background-color:aliceblue;
   text-align: center;

   /* font-size: 2rem; */
   /* align-content: center; */
   
   
   position: relative;
   top:120px;
   left:70px;
   width:90%;
   height:200px;
}

.cartdata{
   text-align: center;
   margin-top: 100px;
}
.cartempty hr{
   position: relative;
   bottom:70px;
}
.cartempty p{
   font-size: 1.8rem;
}
.cartempty button{
   border-radius: 5px;
   padding: 5px;
}

.card-container{
   position: relative;
   top:100px;
   display:flex;
   margin-left: 30px;
}
.card{
   width:900px;
   
   border-radius: 5px;
   padding:10px;
   
}
.card .line{
   width:900px;
   position: relative;
   right:10px;
   
}


#order-summary .card{
   width:400px;
   position: relative;
   left:30px;
   
   
}


#order-summary .card .horizon{
   width:400px;
   position: relative;
   right: 10px;
   
}
.made{
   text-align: center;
   margin-top:10px;
}